pyyaml
decorator
tzlocal
dill
python-dateutil
bibtexparser
networkx
ijson
jinja2
scikit-learn=0.23.1
https://github.com/qiime2/q2templates.git
https://github.com/qiime2/qiime2.git
https://github.com/qiime2/q2-types.git
https://github.com/qiime2/q2-sample-classifier.git
https://github.com/qiime2/q2-feature-table.git
